[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
flake8 = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
seaborn = "*"
google-cloud-storage = "*"
prefect = {extras = ["viz"], version = "*"}
black = {extras = ["jupyter"], version = "*"}
pre-commit = "*"
tomli = "*"
xgboost = "*"

[dev-packages]
