# may switch this to a Pipenv file later
# source: https://pip.pypa.io/en/stable/user_guide/#requirements-files
# source: https://pip.pypa.io/en/stable/reference/requirements-file-format/#requirements-file-format
pytest
flake8
pandas
numpy
matplotlib
scikit-learn
seaborn
google-cloud-storage
prefect
prefect[viz]
# Black can be installed by running pip install black. It requires Python 3.6.2+ to run. If you want to format Jupyter Notebooks, install with pip install black[jupyter]
black
black[jupyter]
pre-commit
tomli
xgboost
