# may switch this to a Pipenv file later
# source: https://pip.pypa.io/en/stable/user_guide/#requirements-files
# source: https://pip.pypa.io/en/stable/reference/requirements-file-format/#requirements-file-format
pytest
pandas
numpy
matplotlib
scikit-learn
seaborn
google-cloud-storage
prefect
